{% load compress umap_tags %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block head_title %}uMap{% endblock %}</title>
    <meta charset="utf-8">
    {% compress css %}
    <!-- Included CSS Files (Compressed) -->
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}darline/src/css/core.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}darline/src/css/grid.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}darline/src/css/form.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}darline/src/css/color/seagreen.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}darline/src/css/debug.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}storage/contrib/css/storage.ui.default.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}umap/umap.css">
    {% endcompress css %}
    {% compress js %}
    <script src="{{ STATIC_URL }}darline/src/js/core.js"></script>
    <script src="{{ STATIC_URL }}darline/src/js/debug.js"></script>
    {% endcompress js %}
    <!-- IE Fix for HTML5 Tags -->
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% block extra_head %}
    {% endblock extra_head %}
    <script src="{{ STATIC_URL }}storage/contrib/js/storage.ui.default.js"></script>
    <script src="{{ STATIC_URL }}storage/src/locale/fr.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>
<body class="{% block body_class %}{% endblock %}">
    <div id="storage-ui-container"></div>
    <div id="storage-alert-container"></div>
    <div id="storage-tooltip-container"></div>

    {% block header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block bottom_js %}
        <script type="text/javascript">
            L.Storage.on('ui:ready', function () {
                function fn (e) {
                    D.DOM.toggleClass(this.parentNode, "on");
                }
                D.Event.on('fieldset.toggle legend', 'click', fn);
            });
            var getMore = function (e) {
                D.Event.stop(e);
                D.Xhr.get(this.href, {
                    callback: function (data) {
                        var container = this.parentNode;
                        container.innerHTML = data;
                        D.DOM.forEach(D.DOM.get('script', container), function (item) {
                            eval(item.firstChild.textContent);
                        });
                        D.Event.on('.more_button', 'click', getMore);
                    },
                    thisobj: this
                });
            }
            D.Event.on('.more_button', 'click', getMore);
        </script>
    {% endblock %}
</body>
</html>
